body {
    font-family: 'Yu Gothic UI',sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../assets/images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

header {
    color: white;
    text-align: center;
    padding-bottom: 10rem;
}

.prof-img img{
    padding-top: 10rem;
    width: 85vw;
    max-width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 2rem;
    color: white;
    border-radius: 10px;
}

.slide {
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    transform: translateY(50px);
    position: relative;
}


.slide.visible {
    opacity: 1;
    transform: translateY(0);
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
    padding-bottom: 15px;
}

.skills-list li {
    background: #1f1e33;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    opacity: 0.8;
}

.information {
    border-collapse: collapse;
    width: 100%;
    max-width: 700px;
}

.information th, .information td {
    border-bottom: 2px solid #494f52;
    padding: 1em;
}

.information th {
    border-bottom: 2px solid #2A8383;
    font-weight: bold;
    text-align: center;
    width: 20%;
    min-width: 4em;
}

.freetext {
    padding: 15px 15px;
    width: 93.5%;
    max-width: 700px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}


.links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.links li {
    background: #1f1e33;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    opacity: 0.8;
}

h3 {
    padding: 3px 10px;
}

hr {
    height: 2px;
    background-color: #494f52;
    border: none;
}

nav-bar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f1e33;
    opacity: 0.8;
    color: white;
    z-index: 777;
    padding: 0.2rem 0;
    justify-content: space-between;
    font-family: 'Yu Gothic UI',sans-serif;
}

nav-bar ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    list-style: none;
    padding: 0;
    gap: 20px; 
    width: 100%;
    flex-grow: 1;
}

nav-bar ul li {
    display: inline-block; 
    white-space: nowrap;
}

nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.nav-icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: absolute;
}

.nav-icon img {
    width: 40px;
    height: auto;
    padding-right: 10px;
}

.nav-name {
    font-size: 2rem;
    font-weight: bold;
}

h1.article-type {
    padding-top: 30px;
}

article h2{
    font-size: 18px;
}

article p{
    font-size: 14px;
    opacity: 0.8;
}

.thumbnail{
    min-height: 150px;
    background-position: center;
    background-size: cover;
}

article a{
    margin: 10px;
    display: block;
    border: solid 1px #ddd;
    color: inherit;
    text-decoration: none;
}

.article-page {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 300px;
    flex: none;
}

dialog {
    padding: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

button {
    cursor: pointer;
    margin: 0.5rem;
    background-color: #1f1e33;
    opacity: 0.8;
    color: white;
    border: none;
    width: 270px;
}

.detail img{
    width: 85vw;
    max-width: 700px;
    height: auto;
    display: block;
    margin: 0 auto;
}

dialog {
    background-color: rgb(27, 27, 27);
}

.detail .information {
    color: white;
}

button.close {
    background-color: rgb(27, 27, 27);
}



.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 4px;
    height: 100%;
    border-radius: 2px;
}

.timeline li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 40px;
}

.timeline-badge {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

.timeline-badge::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 30%;
    width: 100px;
    height: 2px;
    background: linear-gradient(to right, #2A8383, #92DCDC);
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(42, 131, 131, 0.7);
    transform: translateX(-50%);
}

.timeline-panel {
    padding: 10px 30px;
    transition: transform 0.3s ease-in-out;
}

.timeline-panel:hover {
    transform: scale(1.05);
}

.timeline-text {
    margin: 0;
    color: red;
    font-weight: bold;
    width: 50%;
    max-width: 700px;
}
